:root {
  font-family: "Stint Ultra Condensed", monospace;
  font-size: 16px;
  --dark-color: rgb(39, 39, 41);
  --light-color: rgb(209, 209, 212);
  --contrast-color: rgb(56, 175, 41);
}
.main-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
}
/* general */
.game-display,
.player-commands,
.main-game-display,
.game-over {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* GAME DISPLAY SECTION */
.game-display {
  background: var(--light-color);
  color: var(--dark-color);
  width: 100%;
}

.game-display h1 {
  font-size: 4rem;
  position: relative;
  bottom: 20px;
}
.main-game-display,
.player-commands {
  width: 50%;
  height: 25vh;
  background: var(--light-color);
  flex-direction: row;
  justify-content: space-around;
}
/* MAIN DISPLAY */
.player-pick,
.computer-pick,
.rock,
.paper,
.scissors {
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}
.player-pick,
.computer-pick {
  height: 100%;
  width: 30%;
  border-radius: 5px;
}
.winner-display-shadow {
  box-shadow: 2px 2px 25px 1px rgb(33, 206, 17);
}
.looser-display-shadow {
  box-shadow: 2px 2px 25px 1px rgb(211, 62, 25);
}
/* PLAYER COMMANDS */
.main-game-display {
  height: 30vh;
}
.player-commands {
  margin-top: 10px;
  background: var(--light-color);
}
.rock,
.paper,
.scissors {
  box-sizing: border-box;
  height: 100%;
  width: 25vh;
  color: var(--light-color);
  border-radius: 3px;
}
.rock:hover,
.paper:hover,
.scissors:hover {
  cursor: pointer;
  box-shadow: 1px 1px 20px 1px var(--dark-color);
}
.rock {
  background-image: url("../img/rock.png");
}
.paper {
  background-image: url("../img/paper.png");
}
.scissors {
  background-image: url("../img/scissors.png");
}
.scoreboard {
  text-align: center;
  margin-top: 20px;
}
.scoreboard h2 {
  font-size: 3.5rem;
  user-select: none;
}
.scoreboard span {
  font-size: 3.5rem;
  position: relative;
  top: 5px;
}
.scoreboard p {
  font-size: 3rem;
  position: relative;
  left: 14px;
}

/* GAME OVER MODAL */
.game-over {
  color: var(--dark-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(219, 219, 232, 0.8);
}
.game-over p {
  font-size: 2.8rem;
}
.game-over h2 {
  font-size: 3rem;
  margin-bottom: 50px;
}
.game-over .new-game {
  width: 10rem;
  height: 5rem;
  border-radius: 5px;
  font-size: 1.8rem;
  font-family: "Stint Ultra Condensed", monospace;
  border: 2px solid var(--light-color);
  background: var(--dark-color);
  color: var(--light-color);
}
.game-over .new-game:hover {
  border-color: var(--dark-color);
  background: var(--light-color);
  color: var(--dark-color);
  box-shadow: 3px 3px 10px 3px var(--dark-color);
}
.hidden {
  visibility: hidden;
}
