:root {
  font-family: "Stint Ultra Condensed", monospace;
  font-size: 16px;
  --dark-color: #171817;
  --light-color: #fcf6f5ff;
}
.main-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
}
/* general */
.game-display,
.player-commands,
.main-game-display,
.game-over {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* GAME DISPLAY SECTION */
.game-display {
  background: var(--light-color);
  color: var(--dark-color);
  width: 100%;
}
.game-display h1,
.scoreboard h2,
.scoreboard span,
.game-over p {
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.game-display h1 {
  font-size: 4rem;
  position: relative;
  bottom: 20px;
}
.game-display .welcome-msg {
  font-size: 1.9rem;
  letter-spacing: 0.2rem;
}
.main-game-display {
  height: 25vh;
  margin: 1rem 0;
}
.main-game-display,
.player-commands {
  width: 50%;
  background: var(--light-color);
  flex-direction: row;
  justify-content: space-around;
}
/* MAIN DISPLAY */
.player-pick,
.computer-pick,
.rock,
.paper,
.scissors {
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}
.player-pick,
.computer-pick {
  height: 100%;
  width: 25vh;
  border-radius: 3px;
}
.computer-pick {
  transform: rotate(180deg);
}
.winner-display-shadow {
  box-shadow: 1px 1px 3px 4px rgb(65, 174, 43);
}
.looser-display-shadow {
  box-shadow: -1px -1px 3px 4px rgb(204, 52, 70);
}
/* PLAYER COMMANDS */
.player-commands {
  height: 20vh;
  margin-top: 10px;
  background: var(--light-color);
}
.rock,
.paper,
.scissors {
  box-sizing: border-box;
  height: 100%;
  width: 20vh;
  color: var(--light-color);
  border-radius: 3px;
  transform: rotate(-90deg);
}
.rock:hover,
.paper:hover,
.scissors:hover,
.rock:active,
.paper:active,
.scissors:active {
  cursor: pointer;
  box-shadow: 1px 1px 4px 2px var(--dark-color);
}
.rock {
  background-image: url("../img/rock.png");
}
.paper {
  background-image: url("../img/paper.png");
}
.scissors {
  background-image: url("../img/scissors.png");
}
.scoreboard {
  text-align: center;
  margin-top: 20px;
}
.scoreboard h2 {
  font-size: 3.5rem;
  user-select: none;
}
.scoreboard span {
  font-size: 3.5rem;
  position: relative;
  top: 5px;
}
.scoreboard p {
  font-size: 3rem;
}

/* GAME OVER MODAL */
.game-over {
  text-align: center;
  color: var(--dark-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(219, 219, 232, 0.8);
}
.game-over p {
  font-size: 2.8rem;
}
.game-over h2 {
  font-size: 3rem;
  margin-bottom: 50px;
}
.game-over .new-game {
  width: 10rem;
  height: 5rem;
  border-radius: 5px;
  font-size: 1.8rem;
  font-family: "Stint Ultra Condensed", monospace;
  border: 2px solid var(--light-color);
  background: var(--dark-color);
  color: var(--light-color);
}
.game-over .new-game:hover {
  border-color: var(--dark-color);
  background: var(--light-color);
  color: var(--dark-color);
  box-shadow: 3px 3px 10px 3px var(--dark-color);
}
.hidden {
  visibility: hidden;
}

@media (max-width: 786px) {
  .game-display .welcome-msg {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
  }
  .main-game-display,
  .player-commands {
    width: 90%;
  }
  .player-pick,
  .computer-pick {
    height: 40vw;
    width: 40vw;
    max-height: 175px;
    max-width: 175px;
  }
  .rock,
  .paper,
  .scissors {
    height: 25vw;
    width: 25vw;
    max-height: 100px;
    max-width: 100px;
  }
}
